.registercontain {
  height: 91.64vh;
  width: 100vw;
  background: #121129;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerinnercontain {
  height: 31.875rem;
  width: 26.938rem;
  background: rgba(18, 17, 41);
  /* background: black; */
  box-shadow: 4px 4px 4px #f05fb5;
  border-radius: 25px;
  opacity: 0.96;
  z-index: 5;
}

.registercontain::after {
  content: "";
  position: absolute;
  width: 28.188rem;
  height: 31.25rem;
  top: 5.87rem;
  left: 29.900rem;
  border-radius: 10%;
  /* z-index: -5; */
  background: linear-gradient(129.57deg, #ff5dab 0.87%, #756bff 100%);
}

.registertext {
  position: relative;
  top: 2.5rem;
  left: 2.5rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #c4c0ff;
}

.registertextsmall {
  position: relative;
  top: 60px;
  left: 2.5rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #c4c0ff;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.registertextsmall2 {
  position: relative;
  top: 100px;
  left: 2.5rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #c4c0ff;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.registertextsmall3 {
  position: relative;
  top: 8.75rem;
  left: 2.5rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #c4c0ff;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.textbox {
  position: relative;
  height: 38px;
  width: 19.313rem;
  top: 5rem;
  left: 2.5rem;
  background: #ffffff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.textbox2 {
  position: relative;
  height: 38px;
  width: 19.313rem;
  top: 7.5rem;
  left: 2.5rem;
  background: #ffffff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.textbox3 {
  position: relative;
  height: 38px;
  width: 19.313rem;
  top: 10rem;
  left: 2.5rem;
  background: #ffffff;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.button {
  position: relative;
  top: 11.875rem;
  left: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  width: 21.938rem;
  height: 3.438rem;

  background: #756bff;
  border-radius: 4px;

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.buttontext {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  cursor: pointer;
}

.backgroundpng{
  position: absolute;
  left: 0;
  /* top:50; */
  width: 100%;
  overflow: hidden;
  top: 130px;
  /* align-items: flex-start; */
}

.backgroundimage_bg{
  width: 100%;
}
